html, body {
	height: 95%;
}

body {
	font-family: Arial;
	background-color: #1c256f;
	background-image: url("../img/bg.jpg");
	background-position: initial;
	background-repeat: no-repeat;
	background-size: auto;
}

h1, h2, h3, h4, h5, h6 {
	color: #1c256f !important;
}

.main {
	margin-top: 5% !important;
}

.container {
	text-align: center;
	margin: 0 auto;
	border-radius: 30px;
	padding: 15px 45px 45px 45px;
	box-shadow: 1px 1px 17px 2px #d6016c91;
	border: 2px solid #bfbfbf;
}

#grid {
	position: relative;
	margin: 0 auto;
	max-height: 250px;
	max-width: 250px;
}

.north, .east, .south, .west {
	position: absolute;
}

.north {
	left: 50%;
	top: -30px;
}

.south {
	left: 50%;
	bottom: -30px;
}

.east {
	top: 50%;
	right: -20px;
}

.west {
	top: 50%;
	left: -20px;
}
img.card-img {
	opacity: 0.8;	
	height: 75%;
}

svg {
	box-sizing: border-box;
	border: 1px solid rgb(185, 185, 185);
}

circle {
	stroke: rgb(200, 25, 25);
	stroke-width: 2;
	fill: rgba(255, 180, 180, 0.3);
}

#grid>svg>circle.rover.online-rover {
	stroke: rgb(25, 200, 25);
	stroke-width: 2;
	fill: rgba(180, 255, 180, 0.3);
}

line {
	stroke: rgb(220, 220, 220);
	stroke-width: 1px;
	shape-rendering: auto;
}